* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(images/background.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.header {
    padding: 20px 0;   
    background:rgba(0, 0, 0, 0.4117647058823529);

}

.header-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 1205px;
    font-size: 16px;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

.logo:hover {
    color: #39B67B;
}

.header-auth {
    color: #D1D1D1;
}

.header-auth a {
    color: #357D56;
    text-decoration: underline;
}

.header-link {
    margin-right: 28px;
}

.header-links {
    display: flex;
    margin-left: auto;
}


.icon1 {
    width: 19px; height: 19px;
    background: url(images/css_sprites.png) -10px -50px;

}

.icon2 {
    width: 28px; height: 20px;
    background: url(images/css_sprites.png) -10px -10px;

}

.icon3 {
    width: 20px; height: 20px;
    background: url(images/css_sprites.png) -58px -10px;
}

.form {
    margin: 64px auto;
    width: 450px;
    background-color: #FFFFFF;
    padding: 29px 60px;
    border-radius: 10px;
    position: relative;

}

.form:before {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 30px;
    content: '';
}

.form-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.form-header a {
    color: #39B67B;
    font-size: 14px;
    text-decoration: underline;
}

.form-title {
    font-size: 20px;
    color: #434343;
}

.buttons {
    margin-top: 14px;
    margin-bottom: 33px;
    display: flex;
}

.btn {
    width: 158px;
    height: 47px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0 27px 0 17px;
}

.btn-facebook {
    background-color: #264B97;
    margin-right: 7px;
    display: flex;
    justify-content: space-between
}

.btn-facebook::before {
    background-image: url(images/facebook.png);
    content: '';
    width: 10px;
    height: 20px;
    margin-top: -2px;
    display: inline-block;
}

.btn-google {
    background-color: #C3412C;
    display: flex;
    justify-content: space-between
}

.btn-google::before {
    background-image: url(images/G+.png);
    content: '';
    width: 25px;
    height: 16px;
    display: inline-block;
}

.separator {
    position: relative;
    text-align: center;
    margin-bottom: 17px;
}

.separator::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    height: 1px;
    width: 100%;
    background: #E7EBE7;
}
 
.separator-text {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    display: inline-block;
    padding: 0 18px;
    color: #848284;
}

.form-input {
    width: 323px;
    height: 47px;
    margin-bottom: 9px;
    padding-left: 19px;
    border: 1px solid #E7EBE7;
    border-radius: 3px;
}

.form-input:focus {
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    border: none;
    
}

::-webkit-input-placeholder {
    color: #BDC3BD;
}

.form-checkbox {
    position: absolute;
    left: -9999px;
}

.form-label {
    padding-left: 30px;
    color: #4A494A;
    position: relative;
    display: inline-block;
}

label:before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  
.form-checkbox:checked ~ label:before {
    background: url(images/checkbox.png) no-repeat center;
  }

.form-label a {
    color: #42BA7B;
    text-decoration: underline;
}

.form-btn {
    width: 322px;
    height: 46px;
    background-color: #319A65;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 28px;
    border-radius: 5px;
}
